{# FRONTEND DEL SISTEMA DE ENCUESTAS #}
{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Sistema Encuesta - SESM{% endblock %}
{#bloque donde se realiza el llamado a los ccs que se utilizaran en el sistema#}
{% block stylesheets %}
  <link href="{{ asset('css/marco.css') }}" rel="stylesheet" type="text/css" />
  <style type="text/css">

  </style>
  <link href="{{ asset('css/slicebox.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/demo.css') }}" rel="stylesheet" type="text/css" />
  {#<link href="{{ asset('css/fondo.css') }}" rel="stylesheet" type="text/css" />#}
 
  {#<link href="{{ asset('css/piedepagina.css') }}" rel="stylesheet" type="text/css" />#}
  <link href="{{ asset('css/solapamiento.css') }}" rel="stylesheet" type="text/css" />
  {#<link href="{{ asset('css/contacto.css') }}" rel="stylesheet" type="text/css" />#}
  <link href="{{ asset('css/formulario.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/ventanas-modales.css') }}" rel="stylesheet" type="text/css" />
  {#<link href="{{ asset('css/tablas.css') }}" rel="stylesheet" type="text/css" />
  {#css del slider de la pagina principal#}
  <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('css/stacktable.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('css/custom.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/jquery.bxslider.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/validationEngine.jquery.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/datepicker.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/tooltip.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/easyTooltip.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/bootstrap-submenu.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/bootstrap-dialog.css') }}" rel="stylesheet" type="text/css" />

 {# <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />#}
{% endblock %}
  {#bloque donde se realiza el llamado a los scripts que se utilizaran en el sistema#}
{% block javascripts %}
  <script src="{{ asset('js/modernizr.custom.46884.js') }}"></script>
  <script src="{{ asset('js/jquery.slicebox.js') }}"></script>
  <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
  <script src="{{ asset('js/jquery.bxslider.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
  <script src="{{ asset('js/jquery.validationEngine-es.js') }}"></script>
  <script src="{{ asset('js/jquery.validationEngine.js') }}"></script>
  <script src="{{ asset('js/validacion.js') }}"></script>
  <script src="{{ asset('js/easyTooltip.js') }}"></script>
  <script src="{{ asset('js/bootstrap-submenu.min.js') }}"></script>
  <script src="{{ asset('js/stacktable.js') }}"></script>
  <script src="{{ asset('js/bootstrap-dialog.js') }}"></script>
  <script src="{{ asset('js/jquery.jeditable.js') }}"></script>
{% endblock %}

{#bloque cuerpo del sistema#}
{% block body %}
{#Marco del sistema, y posicionamiento en la pagina#}


<div class="container-fluid">
  <div class="row">
    <header class="col-xs-12">
      <div class="col-xs-11">
      <img alt="Baner del sistema" class="hidden-xs" src="{{ asset('imagenes/banner_gobierno.png') }}">
      </div>
      <div class="col-xs-1">
      <img alt="Baner del sistema" class="hidden-xs" src="{{ asset('imagenes/banner_gobierno2.png') }}">
      </div>
    </header>
    
  </div>
</div>
  <nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand hidden-xs" href="#"><img alt="Baner del sistema" class="hidden-xs" src="{{ asset('imagenes/identificador-03-03.png') }}"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class=""><a href='{{ path('sistema_Encuesta_principal_homepage') }}'>Principal</a></li>
        {% if app.user%}
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Encuesta<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
                                <li><a href='{{ path('encuestas_crear') }}' >Generar</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Visualizar</a>
                                    <ul class="dropdown-menu">
                                        <li><a href='{{ path('encuestas_totales',{tipoEncuesta:'general'}) }}'>Todas</a></li>
                                        <li><a href='{{ path('encuestas_buscar_nombre') }}'>Por Nombre</a></li>
                                        <li><a href='{{ path('encuestas_buscar_fecha') }}'>Por Fecha</a></li>
                                        <li><a href='{{ path('encuestas_totales',{tipoEncuesta:'sufragio'} ) }}'>Sufragio</a></li>
                                    </ul>
                                </li>
                                <li><a href='{{ path('encuestas_resumen') }}'>Resumen</a></li>
                            </ul>

        </li>
        {% endif %}
        <li><a href='{{ path('sistema_Encuesta_principal_contacto') }}'>Contacto</a></li>
        <!-- <li><a href='{{ path('encuestas_buscar_csv') }}'>Exportar</a></li> -->
      </ul>
      <ul class="nav navbar-nav1 navbar-right">
      {% if app.user%}
        <ul class="nav navbar-nav1 navusuario"  >
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"> {{ app.user.nombres }}</span></a>
              <ul class="dropdown-menu" role="menu"> 
                 <li class="dropdown-submenu" >
                  <a tabindex="-1" href="#">Perfil</a>
                  <ul class="dropdown-menu">
                    <li><a href='{{ path('usuario_verperfil') }}'>Ver</a></li>
                    {% if app.user.roles[0] != "ROLE_USUARIO" %}
                    <li><a href='{{ path('usuario_perfil') }}'>Modificar</a></li>
                    {% endif %}
                  </ul>
                </li>
                  <li class="dropdown-submenu" >
                    {% if app.user.roles[0] != "ROLE_USUARIO" %}
                      <a tabindex="-1" href="#">Usuario</a>
                      <ul class="dropdown-menu">
                        <li><a href='{{ path('usuario_registro') }}'>Crear</a></li>
                        <li><a href='{{ path('usuarios_buscar_nombre') }}'>Buscar Por Nombre</a></li>
                        <li><a href='{{ path('usuario_totales') }}'>Buscar Todos</a></li>
                      </ul>
                    {% endif %}
                  </li>
              </ul>
            </li>
          </ul>
          {% endif %}
          {% if app.user %}
            <li><a href="{{ path('usuario_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
          {% else %}
            <li><a href='{{ path('usuario_login') }}'><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
      <div class="col-xs-8 col-md-offset-2 text-right" id="titulo">
          <h1>{% block titulo %}{% endblock %}</h1>
      </div>
  <div class="row">
    <div class="col-xs-12 col-md-4" id="contenido">
      <div id="posicionfonfoblanco" class="hidden-xs hidden-sm hidden-md"><img src="{% block imagen_fondo %}{{ asset('imagenes/fondo_ventana_emergente.png') }}{% endblock %}" align="center"></div>
      
    </div>

    {#bloque cuerpo donde esta el contenido de la pagina#}
  {% block cuerpo %}

  {% endblock %}
  </div>
</div>
     

{% endblock %}